html {
    text-align: center;
    font-family: monospace;
    background-color: rgb(26, 26, 26);
    color: whitesmoke;
}

#todoForm {
    font-size: larger;
    padding-left: 15px;
    height: 150px;
    width: 250px;
    border: 2px solid orangered;
    border-radius: 4px;
    margin: 0 auto;
}

#name {
    margin-right: 50px;
}

#date{
    margin-right: 110px;
}

.btn {
    margin-left: 150px;
    background-color: orangered;
}

.form-btn {
    display: inline-block; 
    background-color: orangered;
}

.form-container {
    font-size: large;
    display: flex;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap; 
    border-radius: 4px;
    max-width: 500px;
    width: 250px;
    border: 1px solid orangered;
    padding: 10px;
    flex-direction: column;
    align-items: center;
}


.parent-container {
    display: flex;
    flex-direction: column;
    align-items: center;   
    gap: 20px;
}

.form-child {
    margin-right: 10px;
    margin-bottom: 20px;
    gap: 15px;
    width: 200px;
    display: flex;
    align-items: center;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
  }